/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

select{
  font-size:xx-large;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 5%;
  right:5%;
  z-index: 5;
  background-color:#FF5809;
  border-radius:8px;
  
  border: 3px solid #999;
  
  font-family: "Roboto", "sans-serif";
  line-height: 2px;
  padding-left: -100px;
  font-size:26px;
  display:none;
}

#floating-panel2 {
  position: absolute;
  top:150px;
  left: -10000px;

  z-index: 5;
  background-color:#FF5809;
  border-radius:8px;
  
  border: 3px solid #999;
  
  font-family: "Roboto", "sans-serif";
  line-height: 40px;
  padding-left: -100px;
  font-size:26px;
}

#my_button{ 
      position:absolute; 
      bottom:90%; 
      color: #fff; 
      background-color: #EA0000; 
      padding: 11px; 

      border: 1px solid transparent; 
      border-radius: 2px; 
      box-sizing: border-box; 
      -moz-box-sizing: border-box; 

      outline: none; 
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); 
      alignment-baseline:central; 
      width:20%;
  
      left: 40%;
      right: 40%;
      
      text-decoration:none; 

      margin:0px auto;
} 
#my_button1{ 
      position:absolute; 
      bottom:80%; 
      
      
      padding: 11px; 

      border: 1px solid transparent; 
      border-radius: 2px; 
      box-sizing: border-box; 
      -moz-box-sizing: border-box; 

      outline: none; 
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); 
      alignment-baseline:central; 
      width:15%;
  
      left:5%;
     
      text-align:center; 
      text-decoration:none; 

      margin:0px auto;
} 
#my_button2{ 
      position:absolute; 
      bottom:60%; 
      color: #800080; 
      background-color: #EA0000; 
      padding: 11px; 

      border: 1px solid transparent; 
      border-radius: 2px; 
      box-sizing: border-box; 
      -moz-box-sizing: border-box; 

      outline: none; 
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); 
      alignment-baseline:central; 
      width:15%;
  
      left:5%;
     
      text-align:center; 
      text-decoration:none; 

      margin:0px auto;
} 

#my_button3{ 
      position:absolute; 
      bottom:40%; 
      color: #ffff00; 
      background-color: #EA0000; 
      padding: 11px; 

      border: 1px solid transparent; 
      border-radius: 2px; 
      box-sizing: border-box; 
      -moz-box-sizing: border-box; 

      outline: none; 
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); 
      alignment-baseline:central; 
      width:15%;
  
      left:5%;
     
      text-align:center; 
      text-decoration:none; 

      margin:0px auto;
} 

#my_button4{ 
      position:absolute; 
      bottom:20%; 
      color: #F28500; 
      background-color: #EA0000; 
      padding: 11px; 

      border: 1px solid transparent; 
      border-radius: 2px; 
      box-sizing: border-box; 
      -moz-box-sizing: border-box; 

      outline: none; 
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); 
      alignment-baseline:central; 
      width:15%;
  
      left:5%;
   
      text-align:center; 
      text-decoration:none; 

      margin:0px auto;
} 




#my_button:hover{ 
      background-color:#3B6EC2;
}
